<script src="https://cdn.jsdelivr.net/npm/showdown@1.9.1/dist/showdown.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
  var markdownContent = document.getElementById('markdown-content').innerHTML;
  var converter = new showdown.Converter();
  var html = converter.makeHtml(markdownContent);
  document.getElementById('markdown-content').innerHTML = html;
});
</script>
<article class="post">
  <header class="post-header home">
    <div class="post-title">aka-ryu</div>
  </header>

  <div class="post-content">
    <div id="markdown-content">
    </div>
  </div>
</article>
